[submodule "python_samples"]
	path = python_samples
	url = https://github.com/sree1026/python_samples.git
	branch = branch2
[submodule "tascomm"]
	path = tascomm
	url = https://github.com/sree1026/tascomm.git